<ion-header>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="main.js"></script>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Publications
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item color="danger">
			<ion-col>
				region
			</ion-col>
			<ion-col>
				country
			</ion-col>
			<ion-col>
				itemtype
			</ion-col>
			<ion-col>
				saleschannel
			</ion-col>
			<ion-col>
				orderpriority
			</ion-col>
			<ion-col>
				orderdate
			</ion-col>
			<ion-col>
				orderid 
			</ion-col>
			<ion-col>
				shipdate
			</ion-col>
			<ion-col>
				Username
			</ion-col>
			<ion-col>
				unitssold
			</ion-col>
			<ion-col>
				unitprice
			</ion-col>
			<ion-col>
				unitcost
			</ion-col>
			<ion-col>
				totalrevenue
			</ion-col>
			<ion-col>
				totalcost
			</ion-col>
			<ion-col>
				unitcost
			</ion-col>
			<ion-col>
				totalprofit
			</ion-col>

		</ion-item>
	</ion-list>

</ion-content>




