<ion-content  color="primary">

	<ion-header>
	  <ion-toolbar>
		<ion-title >Logout</ion-title >
	  </ion-toolbar>
	</ion-header>

	<ion-col align-self-center size-md="6" size-lg="5" size-xs="32">
		<div text-center>
			
			<h3>Are you sure that you want to skip? </h3>
			<h3></h3>
			<ion-img text-center src="../assets/pngocean.com.png"></ion-img>
			<ion-button (click)="logout()" color="dark">Yes </ion-button>
			<ion-button (click)="back()" color=success>No </ion-button>

		</div>
		
	</ion-col>
	


	
	</ion-content>